.bg-4 { 
    background-color: #D32E35; /* Black Gray */
    color: #fff;
  }

  .container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
  }