<div style="margin: 0px;" class="nutrition-fact">
    <div class="nf-head">
        <p style="margin: 0em;">GROUND BEEF</p>
        <p style="margin: 0em;" >90% LEAN / 10% FAT</p>
    </div>
    <div class="nf-detail">
        <div class="nf-detail-envelope">
            <P style="margin: 0em; font-size: 16pt; " ><b>Nutrition Facts</b></P>
            <P style="margin: 0em; font-size: 8pt;" >Serving Size 1 cup (226g)</P>
            <P style="margin: 0em; font-size: 8pt;" >Serving Per Container 2 </P>
            <hr style="margin: 0px; background: black; height: 7pt;" >
            <P style="margin: 0em; font-size: 8pt;" >Amount Per Serving </P>
            <hr style="margin: 0px; background: black; height: 1/4;" >
            <P style="margin: 0em; font-size: 8pt; " ><b>Calories 280g          Calories from Fat 120</b></P>
            <hr style="margin: 0px; background: black; height: 3pt;" >
            <P style="margin: 0em; font-size: 8pt; text-align: right;" ><b>% Daily Value*</b></P>
            <hr style="margin: 0px; background: black; height: 1/4;" >
            <P style="margin: 0em; font-size: 8pt;" ><b>Total Fat</b> 13g       20%</P>
            <hr style="margin: 0px; margin-left: 8px; background: black; height: 1/4pt;" >
            <P style="margin: 0px; margin-left: 8px; font-size: 8pt;"    >Saturated Fat 5g        25%</P>
            <hr style="margin: 0px; margin-left: 8px; background: black; height: 1/4pt;" >
            <P style="margin: 0px; margin-left: 8px; font-size: 8pt;"    >Trans Fat 2g</P>
        </div>
    </div>
</div>