<div class="row">
    <div class="col-2">
        <ul class="list-group">
            <li class="list-group-item list-group-item-action " 
                (click)="onClickFood(1)" 
                [ngClass]="{active: foodSelected === 1}">
                Ground Beef
            </li>
            <li class="list-group-item list-group-item-action " 
                (click)="onClickFood(2)" 
                [ngClass]="{active: foodSelected === 2}">
                Chicken
            </li>
            <li class="list-group-item list-group-item-action " 
                (click)="onClickFood(3)" 
                [ngClass]="{active: foodSelected === 3}">
                Eggs
            </li>
          </ul>
    </div>
    <div class="col-1">
    </div>
    <div class="col">
        <app-nutrition-fact *ngIf="foodSelected === 1" ></app-nutrition-fact>
    </div>
</div>